* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  padding: 25px;
  border: 1px solid aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css-root {
  border: 1px solid deepskyblue;
  padding: 25px;
  margin-top: 25px;
}

.counter-func {
  border: 1px solid deepskyblue;
  padding: 25px;
}

.someDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

input {
  display: block;
  border: 1px solid black;
  padding: 5px;
  width: 100%;
  margin: 10px 0;
}
